<div id="wrapper">
  <div class="bs-docs-header">
    <n3-container>
        <h1 >N3 <span class="small">components</span></h1>
        <p>数据驱动，快速开发<span style="font-size:20px">( 基于 <a target="_blank" href="http://cn.vuejs.org/">Vue.js </a>)</span>.</p>
        <n3-button href="/v2/components/layout.html" class="btn-outline" size="lg">Get Started</n3-button>
        <n3-button href="https://github.com/N3-components/N3-components" target="_blank" style="color:#1B9D9C;">
          <n3-icon type="github"></n3-icon>star</n3-button>
    </n3-container> 
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul> 
  </div>
</div>
<script>
window.requestAnimationFrame = (function(){
  return  window.requestAnimationFrame       ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame    ||
          function( callback ){
            window.setTimeout(callback, 1000 / 60);
          };
})();
</script>
<script>
new Vue({
  el: '#wrapper'
});
</script>
